.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
	border-radius: 6px;
	background-image: url('../image/background_1.jpg');
}


.jumbotron{
	background: url('../image/background_1.jpg');
	min-height: 250px;
	background-size: cover;
}

.panel-primary {
    border-color: #e3e3e3;
}
.panel-primary>.panel-heading{
	background-color: #122f90;
	border-color:#e3e3e3; 
}

div.well{
	background-color: rgba(193, 205, 237, 1);
}
.panel-body {
    background-color: rgba(193, 205, 237, 1);
}

.banner-text h1{
	color: #eeeeee;
	font-family: Helvetica, sans-serif, Arial;
	font-size: 53px;
	letter-spacing: 10px;
	font-weight: 600;
}

.banner-text p{
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 3px;
	text-transform: uppercase;
}